@model Loners.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-main">
    <div class="login-content">
        <div style="text-align:center;"><img src="~/Content/lonersImage.png" alt="LonersImage" /></div>
        <p style="text-align:center; color:#999999;">It’s free and always will be.</p>
        @ViewBag.ErrorLogin
        <hr />

        <fieldset>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                <table style="width: 100%;">
                    <tr style="width: 100%;">
                        <td colspan="3" style="padding-bottom: 5px;">@Html.TextBoxFor(model => model.UserName, new { placeholder = "User name", autocomplete="off", @style = "width: 265px; height:37px; padding-left:15px;", @class = "rounded-corner" })</td>
                    </tr>


                    <tr style="width: 100%;">
                        <td colspan="3" style="padding-bottom: 5px;">@Html.PasswordFor(model => model.Password, new { placeholder = "Password", @style = "width: 265px; height:37px; padding-left:15px;", @class = "rounded-corner" })</td>
                    </tr>

                </table>

                <hr />

                <table style="width: 100%;">
                    <tr style="text-align:center;">
                        <td><input type="submit" class="btn btn-primary" name="LogIn" value="Log In" /></td>
                    </tr>
                    <tr style="text-align:center;">
                        <td style="padding-top:15px;"><p>Do not have an account ? @Html.ActionLink("Sign up", "Registration", "Account")</p>.</td>
                    </tr>

                </table>
            }
        </fieldset>

    </div>
    <p>&copy; @DateTime.Now.Year Loners</p>
</div>

